.container-clientBye {
  background-image: url('../../img/background-easykitchen-2.jpg');
  height: calc(100vh - 112px);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100px;
  padding-top: 2%;
}
