*{
  box-sizing: border-box;
}

.form {
  overflow-y: scroll;
}


.menu-title {
  padding-top: 1%;
  border-radius: 0.5px solid black;
  background-color: #f8d537;
  /* background: -webkit-linear-gradient(90deg, #cac4c4, #8dc1c3);  Chrome 10-25, Safari 5.1-6 */
  height: 100px;
}



.checkbox {
  height: 23px;
  width: 25%;
  }
  
  input .checkbox {
    height: 50px;
    width: 20%;
    }

.onSubmit {
    border-radius: 7px;
    border: 0.5px solid #eee;
    background-color: #f8d537;
    height: 2rem;
    width: 15%;
    font-weight: 600;
    color: white;
    border: none;
    box-shadow: rgb(44, 41, 41);
    padding-bottom: 3%;
  }

  .menu-item{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

  .dish {
    background-color: white;
    /* width: 60%;
    margin: 80px auto; */
    /* height: 200px; */
    box-shadow: 2px 3px 2px 3px  #888888;
    /* display: flex; */
    margin: 20px 60px 50px 60px;
    width: 450px;
    height: 350px;
padding: 10px;

  }

  