.container-home {
  background-image: url('/Users/djolosc/Desktop/happyKitchen/client/src/img/background-easykitchen-1.jpg');
  height: calc(100vh - 112px);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100px;
  padding-top: 3%;
}
