/* 


/* .container-label{
  display: flex;
  flex-direction:inherit ;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
} */
/* 
.flexChild {
  width: 80%;
  max-width: 500px;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid blue;

  }
  .container-label {
    flex-direction: row;
    justify-content: space-evenly;
  }


  .flexChild{
    width: 40%;
  }
}  */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: -webkit-linear-gradient(90deg, #f8ecec, #dae2f8);  /* Chrome 10-25, Safari 5.1-6 */

}

@media only screen and (max-width: 600px) {
  .send-button {
    width: 20%;
    min-width: 10px;
  }

  .input-container {
    padding: 15px 20px;
  }
}

/* .input-field-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .send-button {
    width: 20%;
    min-width: 10px;
  }

  .input-container {
    padding: 15px 20px;
  }
} */
